go 1.21

toolchain go1.21.3

use (
	./go/admin
	./go/authenticator
	./go/billing
	./go/core
	./go/crystal-crisis-api
	./go/fount-of-erebos
	./go/pkg/auth
	./go/pkg/billing
	./go/pkg/db
	./go/pkg/deep_priest
	./go/pkg/email
	./go/pkg/encoding
	./go/pkg/models
	./go/pkg/slack
	./go/pkg/texter
	./go/pkg/twilio
	./go/pkg/util
	./go/proteus
	./go/scorekeeper
	./go/texter
	./go/trivai
)
