go 1.24.0

toolchain go1.24.10

use (
	./go/authenticator
	./go/billing
	./go/core
	./go/fount-of-erebos
	./go/job-runner
	./go/migrate
	./go/pkg/auth
	./go/pkg/billing
	./go/pkg/db
	./go/pkg/deep_priest
	./go/pkg/email
	./go/pkg/encoding
	./go/pkg/http
	./go/pkg/liveness
	./go/pkg/middleware
	./go/pkg/models
	./go/pkg/slack
	./go/pkg/texter
	./go/pkg/twilio
	./go/pkg/util
	./go/pkg/googledrive
	./go/pkg/dropbox
	./go/pkg/hue
	./go/proteus
	./go/scorekeeper
	./go/sonar
	./go/texter
	./go/trivai
	./go/travel-angels
	./go/final-fete
)
