@tailwind base;
@tailwind components;
@tailwind utilities;

input[type='checkbox']:checked,
input[type='checkbox']:focus:checked + label {
  accent-color: #fa9eb5;
}

@font-face {
  font-family: 'pixelify';
  src: url('/public/fonts/PixelifySans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'pixelify';
  src: url('/public/fonts/PixelifySans-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'pixelify';
  src: url('/public/fonts/PixelifySans-Medium.ttf') format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'pixelify';
  src: url('/public/fonts/PixelifySans-SemiBold.ttf') format('truetype');
  font-weight: 600;
}

body {
  margin: 0;
  font-family:
    'pixelify',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: 'pixelify', source-code-pro, Menlo, Monaco, Consolas,
    'Courier New', monospace;
}

div {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

#root {
  height: 100%;
}
