.AnswerSurvey__activityList {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 32px;
  overflow-y: scroll;
}

.AnswerSurvey__activityList h2 {
  margin-bottom: 16px;
  background-color: white;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  display: inline;
  padding: 16px;
}

.AnswerSurvey__activityListItems {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  margin: 12px 0px 24px 0px;
}

.AnswerSurvey__background {
  background-image: url('/public/adventure-background.png');
  background-size: cover;
  background-position: bottom;
  width: 100vw;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden;
}

.AnswerSurvey__activity--selected {
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.AnswerSurvey__activity {
  padding: 16px;
  background-color: white;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
}

.AnswerSurvey__activity--selected {
  padding: 16px;
  background: #fa9eb5;
  color: black;
  margin: 0 auto;
  border: 3px solid black;
  border-radius: 8px;
  box-sizing: border-box;
  display: inline;
  text-align: center;
}

.AnswerSurvey__modal {
  margin-top: 32px;
  background-image: url('/public/scroll-longest.png');
  width: 100%;
  height: 400px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: scroll;
  text-align: center;
  padding: 70px 100px;
}

.AnswerSurvey__scrollText {
  font-size: 12px;
}

.AnswerSurvey__title {
  margin-bottom: 12px;
}

.animate-out {
  transition: transform 1s ease-in;
  transform: translateY(100vh);
}

.animate-out-end {
  display: none;
}
