.Scroll__scroll {
    margin-top: 32px;
    background-image: url('/public/scroll-longest.png');
    width: 100%;
    height: 400px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    overflow: scroll;
    text-align: center;
    padding: 90px 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

.Scroll__scrollContent {
  max-width: 190px;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  height: calc(100% - 20px);
  margin-top: 20px;
}
  
  .Scroll__text {
    font-size: 12px;
  }
  
  .Scroll__animateOut {
    transition: transform 1s ease-in;
    transform: translateY(100vh);
  }