.App {
  text-align: center;
}

.Marker {
  transform: translateX(-50%) translateY(-50%);
  background: rgba(200, 200, 200);
  border-radius: 50%;
}

.Gold {
  background: #f2a44e !important;
}

.Orange {
  background: #ff563d !important;
}

.Purple {
  background: #834fff !important;
}

.Blue {
  background: #4290f5 !important;
}

.teamFive {
  background: #e654dc !important;
}

.noTeam {
  background: #c8c8c8 !important;
}

.Marker.Attuned {
  border: 3px solid black;
}

.Register {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.Divider {
  background: rgba(0, 0, 0, 0.23);
  height: 1px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.MenuIcon {
  border-radius: 50%;
  border: 2px solid black;
}
